{% extends 'base.html' %}
{% load email_obfuscator %}

{% block title %}{{ job.name|title }} - {{ job.department.name }} - Grimes & Associates{% endblock title %}
{% block metadesc %}{{ job.description }}{% endblock metadesc %}

{% block content %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/portfolio-v2.css">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ job.name|title }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Services</li>
                <li class="active">
                	<a href="{% url 'services:department' department_id=job.department.id department_slug=job.department.slug %}">
                		{{ job.department.name }}
                	</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container content">
    	<div class="row">
    		<div class="col-md-8">
	    		<div>{{ job.description }}</div>
				{% if job.staff and job.staff.active %}
					<div class="pull-left">
						{{ job.staff.name }}<br/>
						{{ job.staff.email|obfuscate_mailto }}
					</div>
				{% endif %}
    		</div>
    		<div class="col-md-4" style="text-align:right;">
    			Job Number: {{ job.number }}
    		</div>
		</div>
		<div class="clearfix"></div>
		
		{# JOB DOCUMENTS #}
		{% if job.documents.all %}
			<div class="shadow-wrapper margin-bottom-30">
				<div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
				
					<h3>{{ job.status.name }} Documents</h3>
					{% if not logged_in %}
						<div class="row">
							<div class="col-md-3">
								Provide your name and email to download documents. 
								<br/>
								You will automatically be nofified when new documents are added to this job.
							</div>
							<div class="col-md-6">
								<form method="post" action="">
									{% csrf_token %}
									{{ login_form.as_p }}
									<button type="submit" class="btn-u">Submit</button>
				                </form>
				       		</div>
				       	</div>
					{% else %}
						<ul>
							{% for document in job.documents.all %}
								{% if document.type == job.status %}
									<li>
										<a class="download_document" data-document="{{ document.id }}" href="{{ MEDIA_URL }}{{ document.document }}">
											{% if document.description %}
												{{ document.description }}
											{% else %}
												{{ document.filename }}
											{% endif %}
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			<div class="clearfix"></div>
		{% endif %}
		
		{# JOB IMAGES #}
		{% if job_images %}
			<div class="sorting-block" style="margin-top:30px;">
				<h3>{{ job.name }} Images</h3>
			     <ul class="row sorting-grid">
			     	{% for image in job_images %}
			          <li class="col-md-3 col-sm-6 col-xs-12">
			              <div class="jobimg" style="cursor:pointer;">
			                  <img class="img-responsive" src="{{ MEDIA_URL }}{{ image.image }}" data-large="{{image.image}}" alt="">
			                  <span class="sorting-cover" style="height:55px;">
			                 		{% if image.description %}{{ image.description|truncatechars:70 }}{% endif %}
			                  </span>
			              </div>
			          </li>
			      {% endfor %}
			     </ul>
			 </div>
			 <div class="clearfix"></div>
			 
			{# MODAL #}
			<div class="modal fade" id="imageModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
			      		<div class="modal-body">
			      			<img src="" alt="" class="img-responsive" style="margin:0 auto;">
			      		</div>
			      		<div class="modal-footer">
							<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
						</div>
			      	</div>
				</div>
			</div>
			 
		{% endif %}
    </div>
    
{% endblock content %}