{% load messages email_obfuscator %}
{% spaceless %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{% block title %}Grimes and Associates - Architecture, Engineering, and Environmental Services{% endblock title %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadesc %}Grimes and Associates, Consulting Engineers, L.P. is a full service professional architecture, engineering, and environmental firm providing technical services for building owners throughout the Midwestern and Southwestern United States.{% endblock metadesc %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/flexslider/flexslider.css">  
    <link rel="stylesheet" href="{{ STATIC_URL }}plugins/parallax-slider/css/parallax-slider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/default.css" id="style_color">

	{% block inline-css %}{% endblock inline-css %}

</head>	

<body>
	<div class="wrapper">
	    {% block header %}   
		    <div class="header">
		        <div class="topbar">
		            <div class="container">
		            </div>
		        </div>
		    
		        <div class="navbar navbar-default" role="navigation">
		            <div class="container">
		                <!-- Brand and toggle get grouped for better mobile display -->
		                <div class="navbar-header">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="fa fa-bars"></span>
		                    </button>
		                    <a class="navbar-brand" href="{% url 'index' %}">
		                        <img id="logo-header" src="{{ STATIC_URL }}img/grimes_logo.png" alt="Logo">
		                    </a>
		                </div>
		
		                <!-- Collect the nav links, forms, and other content for toggling -->
		                <div class="collapse navbar-collapse navbar-responsive-collapse">
		                    <ul class="nav navbar-nav">
		                        <li class="{% if nav_selected = 'home' %} active{% endif %}">
		                            <a href="/">
		                                Home
		                            </a>
		                        </li>
		
		                        <li class="dropdown{% if nav_selected = 'about' %} active{% endif %}">
		                            <a href="{% url 'about:index' %}" class="dropdown-toggle" data-toggle="dropdown">
		                                About
		                            </a>
		                            <ul class="dropdown-menu">
		                                <li><a href="{% url 'about:index' %}">About Us</a></li>
		                                <li><a href="{% url 'about:team' %}">Meet Our Team</a></li>
		                            </ul>
		                        </li>
		                        
		                        {% if AVAILABLE_DOCUMENTS %}
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
											Documents
										</a>
										<ul class="dropdown-menu">
											{% for job in AVAILABLE_DOCUMENTS %}
												<li>
													<a href="{% url 'job:detail' job_id=job.id job_slug=job.slug %}">
														{{ job.name }}
													</a>
												</li>
											{% endfor %}
										</ul>
									</li>
								{% endif %}
								
								<li class="dropdown{% if nav_selected = 'services' %} active{% endif %}">
		                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
		                                Services
		                            </a>
		                            <ul class="dropdown-menu">
		                            	{% for department in DEPARTMENT_TREE %}
			                            	<li class="{% if department.leaves %}dropdown-submenu{% endif %}">
			                                    <a href="{% url 'services:department' department_id=department.id department_slug=department.name|slugify %}">{{ department.name }}</a>
			                                    <ul class="dropdown-menu">
				                                    {% for leaf in department.leaves %}
		                                       			<li>
		                                       				<a href="{% url 'services:department' department_id=leaf.id department_slug=leaf.name|slugify %}">
		                                       					{{ leaf.name }}
		                                       				</a>
		                                       			</li>
			                                       	{% endfor %}
			                                    </ul>
		                                     </li>
			                            {% endfor %}
		                            </ul>
		                        </li>
		
		                        <li class="{% if nav_selected = 'clients' %} active{% endif %}">
		                            <a href="{% url 'clients' %}">
		                                Clients
		                            </a>
		                        </li>
		
		                        <li class="{% if nav_selected = 'contact' %} active{% endif %}">
		                            <a href="{% url 'contact' %}">
		                                Contact
		                            </a>
		                        </li>  
		                        
		                    </ul>
		                </div>
		            </div>    
		        </div>            
		    </div>
	    {% endblock header %}
	
		{% block content %}{% endblock content %}
		
		{% block footer %}
		    <div class="footer">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-6 md-margin-bottom-40">
		                    <div class="headline"><h2>About</h2></div>  
		                    <p class="margin-bottom-25 md-margin-bottom-40">
		                    	Grimes and Associates, Consulting Engineers, L.P. is a full service professional architecture, engineering, and environmental firm providing technical services for building owners throughout the Midwestern and Southwestern United States.
		                    </p>    
		                </div> 
		                
		                <div class="col-md-6">
		                    <div class="headline"><h2>Contact Us</h2></div>
		                    <div class="row">
			                    <address class="col-md-6 md-margin-bottom-40">
			                    	<b>Lubbock Area</b><br />
			                        21103 FM 179 <br />
			                        Wolfforth, Texas 79382 <br />
			                        Phone: 806-863-2462  <br />
			                    </address>
			                    <address class="col-md-6 md-margin-bottom-40">
			                        <b>Amarillo Area</b><br />
			                        7210 W. I-40, Suite 119 <br />
			                        Amarillo, Texas 79106 <br />
			                        Phone: 806-353-7588  <br />
			                    </address>
			                   	<div class="col-md-12">
			                   		Email: {{ "grimes@grimesengineering.com"|obfuscate_mailto }}
			                   	</div>
		                </div>
		            </div>
		        </div> 
		    </div>
		    <div class="copyright">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-6">                     
		                    <p>
		                        {% now "Y" %} &copy; Grimes & Associates. All Rights Reserved. 
		                    </p>
		                </div>
		                <div class="col-md-6">  
		                    <a href="index.html">
		                        <img class="pull-right" id="logo-footer" src="{{ STATIC_URL }}img/grimes_logo.png" alt="">
		                    </a>
		                </div>
		            </div>
		        </div> 
		    </div>
	    {% endblock footer %}
	</div>
	
	<!-- JS Global Compulsory -->			
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/flexslider/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/parallax-slider/js/modernizr.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}plugins/parallax-slider/js/jquery.cslider.js"></script>
	<!-- JS Page Level -->           
	<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/pages/index.js"></script>
	<script type="text/javascript">
	    jQuery(document).ready(function() {
	      	App.init();
	        App.initSliders();
	        Index.initParallaxSlider();        
	    });
	</script>
	<!--[if lt IE 9]>
	    <script src="{{ STATIC_URL }}plugins/respond.js"></script>
	    <script src="{{ STATIC_URL }}plugins/html5shiv.js"></script>    
	<![endif]-->
	
	<script type="text/javascript">
    	$('.download_document').click(function(){
    	    $.ajax({
    	        url: "{% url 'job:log_download' %}?doc=" + $(this).data('document'),
    	        success: function(data) {
    	            alert(data);
    	        },
    	        failure: function(data) { 
    	            alert('Error');
    	        }
    	    });    		
    	});
    	
    	$(document).on('click', '.jobimg img', function(){
    		$('#imageModal img').attr('src', '{{MEDIA_URL }}' + $(this).data('large'));
    		$('#imageModal').modal('show');
    	})
    </script>

</body>
</html>
{% endspaceless %}