{% extends 'base.html' %}
{% load email_obfuscator %}

{% block title %}Client List - Grimes & Associates{% endblock title %}
{% block metadesc %}{{ description }}{% endblock metadesc %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ "Clients" }}</h1>
        </div>
    </div>

    <div class="container content">		
        <div class="row service-v1 margin-bottom-40">
        	<div class="col-md-12 md-margin-bottom-40">
        		{{ description }}
        	</div>
        </div>
        
        <div class="row">
        	<div class="col-md-6">
        		<h2 style="border-bottom:2px solid #E74C3C;">Client List</h2>
		        <ul class="row service-v1 list-unstyled">
		        	{% for client in clients %}
			            <li class="col-md-4" style="font-size:14px;">
			                {{ client.name }}
			            </li>
			        {% endfor %}
		        </ul>
        	</div>
        	<div class="col-md-6">
        		<h2 style="border-bottom:2px solid #E74C3C;">Testimonials</h2>
                <div class="funny-boxes">
                    <div class="row">
                        <div class="col-md-12 funny-boxes-img">
                        	<video width="534" height="300" poster="{{ STATIC_URL }}video/berhl_robertson_preview.jpg" controls>
								<source src="{{ STATIC_URL }}video/berhl_robertson.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video> 
                            <ul class="list-unstyled">
								<li><h2>Berhl Robertson Ed.D.</h2></li>
								<li><i class="fa fa-briefcase"></i>Superintendent - Lubbock ISD</li>
								<li><i class="fa fa-map-marker"></i>Lubbock, Texas</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>                            
                </div>
                
                <div class="funny-boxes">
                    <div class="row">
                        <div class="col-md-12 funny-boxes-img">
                        	<video width="534" height="300" poster="{{ STATIC_URL }}video/jerry_vaughn_preview.jpg" controls>
								<source src="{{ STATIC_URL }}video/jerry_vaughn.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video> 
                            <ul class="list-unstyled">
								<li><h2>Jerry Vaughn</h2></li>
								<li><i class="fa fa-briefcase"></i>Superintendent - Floydada ISD</li>
								<li><i class="fa fa-map-marker"></i>Floydada, Texas</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>                            
                </div>
        	</div>
        </div>
    </div>
{% endblock content %}