{% extends 'base.html' %}

{% block inline-css %}
	<style>
		.da-slide p {
			max-width:300px;
			top: 250px;
		}
		.da-slide p i{
			padding:5px;
			line-height:40px;
		}
		
		.da-slide h2.primary span{
			font-size: 60px;
			font-weight:bold;
			display: block;
			margin-bottom:15px;
		}
		.da-slide h2.primary i{
			font-size: 25px;
			padding: 3px;
		}
		
	</style>
{% endblock inline-css %}

{% block content %}
	<div class="slider-inner">
		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2 class="primary">
					<span>GRIMES &amp; ASSOCIATES</span>
					<i>Your source for architectural, engineering, and environmental services</i>
				</h2>
			</div>
			
			<div class="da-slide">
				<h2><i>ENGINEERING</i> <br /> <i>SERVICES</i></h2>
				<p><i>Specializing in schools and public buildings</i></p>
				<div class="da-img">
					<img src="{{ STATIC_URL }}img/grady_gym.jpg" class="img-responsive" />
				</div>
			</div>
			
			<div class="da-slide">
				<h2><i>ARCHITECTURAL</i> <br /> <i>SERVICES</i></h2>
				<p><i>Full architectural services from our experienced team</i></p>
				<div class="da-img">
					<img src="{{ STATIC_URL }}img/retail.jpg" class="img-responsive" />
				</div>
			</div>
			
			<div class="da-slide">
				<h2><i>ENVIRONMENTAL</i> <br /> <i>SERVICES</i></h2>
				<p><i>West Texas Leading Asbestos, Lead-based Paint, LPST testing and remediation firm</i></p>
				<div class="da-img">
					<img src="{{ STATIC_URL }}img/enviro.jpg" class="img-responsive" />
				</div>
			</div>
			
			<div class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>		
			</div>
		</div>
	</div>

	<div class="container content">	
		<div class="row margin-bottom-30">
			{% for department in departments %}
		
				<div class="col-md-5 col-md-offset-1">
					<div class="service">
						<a href="{{ department.url }}">
							<i class="fa fa-{{department.icon}} service-icon"></i>
							<div class="desc">
								<h4>{{ department.name }}</h4>
					  			<p>{{ department.brief_description|safe }}</p>
							</div>
						</a>
					</div>	
				</div>
			{% endfor %}
		</div>

		{% if AVAILABLE_DOCUMENTS %}
			<div class="headline"><h2>Downloadable Documents</h2></div>
			<div class="row margin-bottom-20">
				{% for job in AVAILABLE_DOCUMENTS %}
					<div class="col-md-12">
						<a href="{% url 'job:detail' job_id=job.id job_slug=job.slug %}">
							{% with job.documents.all|length as doc_count %}
								{{ job.name }} - {% if doc_count = 1 %}1 document{% else %}{{ doc_count }} documents{% endif %}
							{% endwith %}
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if recent_jobs %}
			<div class="headline"><h2>Recent Projects</h2></div>
			<div class="row margin-bottom-20">
				{% for job in recent_jobs %}
					<div class="col-md-3 col-sm-6">
						<div class="thumbnails thumbnail-style thumbnail-kenburn">
							<div class="thumbnail-img">
								<div class="overflow-hidden" style="max-height:175px;">
									<img class="img-responsive" src="{{ MEDIA_URL }}{{ job.main_image }}" alt="">
								</div>
								<a class="btn-more hover-effect" href="{{ job.url }}">read more +</a>					
							</div>
							<div class="caption">
								<h3><a class="hover-effect" href="{{ job.url }}">{{ job.name }}</a></h3>
								<p>{{ job.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock content %}