{% extends 'base.html' %}
{% load email_obfuscator %}

{% block title %}About Grimes & Associates{% endblock title %}

{% block content %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/pages/feature_timeline2.css">
    <div class="container content">
        <div class="title-box-v2">
            <h2>About <span class="color-green">Grimes & Associates</span></h2>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <img alt="" src="{{ STATIC_URL }}img/joegrimes.jpg" class="img-responsive margin-bottom-20">
                    </div>
                    <div class="col-sm-8">
                        <p>Grimes and Associates, Consulting Engineers, L.P. is a full service professional architecture, engineering, and environmental firm providing technical services for building owners throughout the Midwestern and Southwestern United States. 	</p>
                        <div class="row">
	                        <ul class="col-sm-6 list-unstyled">
	                        	<li><i class="fa fa-check color-green"></i> Serving our clients for over 30 years</li>
	                        	<li><i class="fa fa-check color-green"></i> Architectural Services</li>
	                            <li><i class="fa fa-check color-green"></i> Engineering Services</li>
	                            <li><i class="fa fa-check color-green"></i> Environmental Services</li>
	                        </ul>
	                        <ul class="col-sm-6 list-unstyled">
	                            <li><i class="fa fa-check color-green"></i> Asbestos Testing & Abatement</li>
	                            <li><i class="fa fa-check color-green"></i> Lead-Based Paint Testing and Abatement</li>
	                            <li><i class="fa fa-check color-green"></i> Environmental Site Assessments</li>
	                        </ul> 
	                     </div>              
                    </div>
                </div>
				<div class="clearfix"></div>
                <blockquote class="hero-unify">
                    <p>We provide a full range of construction (new, renovation, technical) design services as well as comprehensive environmental services (ESAs, asbestos, lead, UST). Our personnel are trained in their respective disciplines from national leaders in the appropriate fields.</p>
                    <small>CEO, Joe Grimes</small>
                </blockquote>
            </div>      
        </div> 

		<div class="row margin-bottom-30">
			<div class="col-md-12">
				<div style="margin:0 auto;width:550px;">
					<video width="534" height="300" poster="{{ STATIC_URL }}video/welcome_preview_text.jpg" controls>
						<source src="{{ STATIC_URL }}video/welcome.mp4" type="video/mp4" />
						<source src="{{ STATIC_URL }}video/welcome.ogv" type="video/ogg" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		
        <div class="title-box-v2">
            <h2>Grimes & Associates <span class="color-green">History</span></h2>
        </div>

        <div class="row margin-bottom-30">
            <div class="col-md-8 col-md-offset-2 text-justify md-margin-bottom-20">
                <p><span class="dropcap dropcap-bg bg-color-dark">G</span>
				rimes and Associates began conducting business in Lubbock in 1982 while serving the engineering needs of architects throughout Texas and Eastern New Mexico.
				<br /><br />
				Approximately three years later in 1985 we expanded our operation to allow us to work directly with large institutional clients like the City of Lubbock, Lubbock ISD, Veterans Administration, General Services Administration, etc. as well as with our architectural clients.
				<br />
				Two years later, in 1987, we expanded once again to serve the environmental needs of our architectural and institutional clients, working mostly in the asbestos-related fields.
				<br />
				1989 witnessed even further expansion of our environmental services as we now address underground fuel storage systems and lead-in-water studies.
				<br /><br />
				Our business continues to expand as necessary to serve the needs of our customers. We are now involved in energy-conservation design, investigation of lead-based-paint, real estate inspections and facility renovations.
				<br /><br />
				In summary, our experience demonstrates the desire to provide all the professional services necessary to ensure that our customers receive the maximum benefit from each of their facilities. 
                </p>
            </div>
         </div>
    </div>
{% endblock content %}