{% extends 'base.html' %}
{% load messages email_obfuscator %}

{% block title %}Meet our Team - Grimes & Associates{% endblock title %}

{% block content %}
    <div class="container content">
		{% for member in staff %}
			{% ifchanged member.department.name %}
				<div class="headline"><h2>{{ member.department.name }}</h2></div>
			{% endifchanged %}
			<div class="row margin-bottom-20">
				<div class="col-sm-2">
					{% if member.image %}
						<img style="margin-top:10px;" alt="" src="{{ MEDIA_URL }}{{ member.image }}" class="img-responsive">
					{% endif %}
				</div>
				<div class="col-sm-10">
                    <h3><a>{{ member.name }}</a><br /><small>{{ member.title }}</small></h3>
                    <p>{{ member.description }}</p>
                    <p>
	                    {% for license in member.license.all %}
	                    	{{ license }}<br/>
	                    {% endfor %}
	                </p>
                    
                    {{ member.email|obfuscate_mailto }}<br />
                    {% if member.phone %}
                    	Office: {{ member.phone }}<br />
                    {% endif %}
                    {% if member.cell %}
	                    Cell: {{ member.cell }}<br />
	                {% endif %}
	            </div>
			</div>
		{% endfor %}
    </div>	
{% endblock content %}